<c-row ngPreserveWhitespaces>
  <c-col class="mb-4" xs="12">
    <c-card>
      <c-card-header>
        <strong>Angular Breadcrumbs</strong>
      </c-card-header>
      <c-card-body>
       >
        <app-docs-example href="components/breadcrumb">
          <c-breadcrumb class="mb-2">
            @for (item of items; track item; let i = $index, isLast = $last) {
              <c-breadcrumb-item [active]="isLast" [url]="item.url">
                {{ item.label }}
              </c-breadcrumb-item>
            }
          </c-breadcrumb>
          <hr>
          <c-breadcrumb class="mb-2">
            @for (item of items.slice(0, 1); track item; let i = $index, isLast = $last) {
              <c-breadcrumb-item [active]="isLast" [url]="item.url">
                {{ item.label }}
              </c-breadcrumb-item>
            }
          </c-breadcrumb>
          <c-breadcrumb class="mb-2">
            @for (item of items.slice(0, 2); track item; let i = $index, isLast = $last) {
              <c-breadcrumb-item [active]="isLast" [url]="item.url">
                {{ item.label }}
              </c-breadcrumb-item>
            }
          </c-breadcrumb>
          <c-breadcrumb class="mb-2">
            @for (item of items.slice(0, 3); track item; let i = $index, isLast = $last) {
              <c-breadcrumb-item [active]="isLast" [url]="item.url">
                {{ item.label }}
              </c-breadcrumb-item>
            }
          </c-breadcrumb>
          <c-breadcrumb class="mb-2">
            @for (item of items.slice(0, 4); track item; let i = $index, isLast = $last) {
              <c-breadcrumb-item [active]="isLast" [url]="item.url">
                <span [ngClass]="{'mark': isLast}">{{ item.label }}</span>
              </c-breadcrumb-item>
            }
          </c-breadcrumb>
         
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
 
</c-row>
